.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.item-img1 {
    flex: 1;
    width: 90%;
    max-width: 450px;
    text-align: center;
    border-radius: 12px;
    background: white;
}

.item-img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.item-det {
    flex: 1;
    max-width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-det h4 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.item-det p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    width: 100%;
    margin-top: 10px;
}

.item-det h3 {
    font-size: 22px;
    font-weight: bold;
    color: #ff4d4d;
    margin-top: 15px;
}

.btn-outline-dark,.buy-now {
    display: block;
    width: 100%;
    max-width: 250px;
    padding: 10px;
    font-size: 18px;
    border-radius: 25px;
    border: 2px solid #333;
    color: #333;
    background: white;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
}

.btn-outline-dark:hover {
    background: #333;
    color: white;
    transform: scale(1.05);
}

.footer-box {
    margin-top: auto;
    width: 100%;
}

.foot {
    padding: 10px;
    background-color: #343a40;
    color: white;
    text-align: center;
}

.footercl {
    padding: 5px;
    margin-top: 12%;
}

.back {
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 50%;
    padding: 6px;
    margin-left: 10px;
    margin-top: 5px;
}

.back:hover {
    background-color: rgb(173, 62, 72);
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.quantity-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
}
.minus,.plus{
    margin: 5px;
}
.plus, .minus {
    cursor: pointer;
    background-color: blue;
    border-radius: 50%;
    color: #c8d1da;
    transition: transform 0.2s ease-in-out;
}

.plus:hover, .minus:hover {
    transform: scale(1.2);
    color: #346eab;
}


